In [6]:
import pandas as pd
df =  pd.read_csv('train.csv')
df['Series'] = df.belongs_to_collection.apply(lambda x:x.split("name':")[1].split(",")[0] if type(x)==str else '')
df.head(30)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Series
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,'Hot Tub Time Machine Collection'
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,'The Princess Diaries Collection'
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,
5,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638,
6,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075,
7,8,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0391024,en,Control Room,A chronicle which provides a rare window into ...,1.949044,...,84.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Different channels. Different truths.,Control Room,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511,
8,9,"[{'id': 256377, 'name': 'The Muppet Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391,'The Muppet Collection'
9,10,NaN,6000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,tt0310281,en,A Mighty Wind,"In ""A Mighty Wind"", director Christopher Guest...",4.672036,...,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Back together for the first time, again.",A Mighty Wind,"[{'id': 11800, 'name': 'mockumentary'}, {'id':...","[{'cast_id': 24, 'character': 'Jonathan Steinb...","[{'credit_id': '52fe45609251416c750545b3', 'de...",18750246,
10,11,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147,'Rocky Collection'
11,12,"[{'id': 48190, 'name': 'Revenge of the Nerds C...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0093857,en,Revenge of the Nerds II: Nerds in Paradise,The members of the Lambda Lambda Lambda frater...,10.543750,...,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're Back!,Revenge of the Nerds II: Nerds in Paradise,"[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",22642033,'Revenge of the Nerds Collection'
12,13,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look closer.,American Beauty,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...",356296601,
13,14,"[{'id': 91698, 'name': 'Chili Palmer Collectio...",53000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0377471,en,Be Cool,"Disenchanted with the movie industry, Chili Pa...",13.314233,...,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone is looking for the next big hit,Be Cool,"[{'id': 3605, 'name': 'baseball bat'}, {'id': ...","[{'cast_id': 4, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe43cbc3a36847f807039f', 'de...",95226116,'Chili Palmer Collection'
14,15,NaN,102000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0181689,en,Minority Report,John Anderton is a top 'Precrime' cop in the l...,20.666063,...,145.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The system is perfect until it comes after you.,Minority Report,"[{'id': 476, 'name': 'self-fulfilling prophecy...","[{'cast_id': 5, 'character': 'Chief John Ander...","[{'credit_id': '52fe4223c3a36847f8006f3d', 'de...",358372926,
15,16,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://skinningmovie.com/synopsis.htm,tt1129437,sr,Šišanje,Novica is a mathematics champion in a Belgrade...,1.018477,...,97.0,"[{'iso_639_1': 'sr', 'name': 'Srpski'}]",Released,Life is sometimes rude game: one mistake can b...,Skinning,"[{'id': 379, 'name': 'skinhead'}, {'id': 7492,...","[{'cast_id': 1001, 'character': 'Novica', 'cre...","[{'credit_id': '52fe4927c3a36847f818bb5f', 'de...",198,
16,17,NaN,26000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt0421239,en,Red Eye,After attending the funeral of her grandmother...,6.336927,...,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Fear takes flight.,Red Eye,"[{'id': 1562, 'name': 'hostage'}, {'id': 2250,...","[{'cast_id': 1, 'character': 'Lisa Reisert', '...","[{'credit_id': '52fe44449251416c7502eb99', 'de...",57891803,
17,18,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt1700845,en,The Invisible Woman,"In 1857, at the height of his fame and fortune...",4.183558,...,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His greatest story was the one he could never ...,The Invisible Woman,"[{'id': 5565, 'name': 'biography'}, {'id': 180...","[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...",1234254,
18,19,NaN,8000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt1487118,en,Chalet Girl,While working a job at an exclusive ski resort...,6.496259,...,96.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,How to marry a billionaire.,Chalet Girl,"[{'id': 271, 'name': 'competition'}, {'id': 35...","[{'cast_id': 2, 'character': 'Kim Matthews', '...","[{'credit_id': '52fe495ac3a36847f8195d4d', 'de...",1749457,
19,20,"[{'id': 9518, 'name': 'The Transporter Collect...",32000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0388482,en,Transporter 2,Professional driver Frank Martin is living in ...,11.359659,...,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Best In The Business Is Back In The Game.,Transporter 2,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...","[{'cast_id': 1, 'character': 'Frank Martin', '...","[{'credit_id': '52fe44e9c3a36847f80b154d', 'de...",85167639,'The Transporter Collection'
20,21,NaN,80000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,tt0120738,en,Lost in Space,The prospects for continuing life on Earth in ...,12.000579,...,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger, Will Robinson!",Lost in Space,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 26, 'character': 'Dr. Zachary Smi...","[{'credit_id': '52fe433bc3a36847f80448b9', 'de...",136159423,
21,22,"[{'id': 9735, 'name': 'Friday the 13th Collect...",4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt0083972,en,Friday the 13th Part III,An idyllic summer turns into a nightmare of un...,7.992290,...,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's nowhere to hide. We dare you to try.,Friday the 13th Part III,"[{'id': 1889, 'name': 'lake'}, {'id': 5767, 'n...","[{'cast_id': 1, 'character': 'Chris Higgins', ...","[{'credit_id': '52fe4523c3a36847f80be885', 'de...",36690067,'Friday the 13th Collection'
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This collection is killer.,V/H/S,"[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,'V/H/S Collection'
23,24,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://insightthemovie.com/,tt1687277,en,InSight,"Kaitlyn, an ER nurse who is tending to a young...",1.323333,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear what you see,InSight,NaN,"[{'cast_id': 1037, 'character': 'Det. Canto', ...","[{'credit_id': '52fe4980c3a368484e12e993', 'de...",17011,
24,25,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",http://www.blacksheep-themovie.com/,tt0779982,en,Black Sheep,A genetic engineering experiment gone horribly...,7.434577,...,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There are over 40 million sheep in New Zealand...,Black Sheep,"[{'id': 2658, 'name': 'new zealand'}, {'id': 3...","[{'cast_id': 9, 'character': 'Henry Oldfield',...","[{'credit_id': '52fe43a0c3a36847f8063031', 'de...",4947717,
25,26,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,tt0104139,en,Dr. Giggles,"In 1957, Evan Rendell flees after his father i...",1.252367,...,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Doctor is out... of his mind.,Dr. Giggles,NaN,"[{'cast_id': 2, 'character': 'Dr. Evan Rendell...","[{'credit_id': '54b1fb3b925141144f000991', 'de...",8403433,
26,27,NaN,10000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt0120176,en,The Spanish Prisoner,An employee of a corporation with a lucrative ...,4.305735,...,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's the oldest con in the book.,The Spanish Prisoner,"[{'id': 811, 'name': 'dialogue'}, {'id': 2246,...","[{'cast_id': 1, 'character': 'Jimmy Dell', 'cr...","[{'credit_id': '52fe45cfc3a368484e07017d', 'de...",13835130,
27,28,NaN,11000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1486834,en,What If,"Wallace, a medical school dropout, has been re...",10.841891,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...being friends has its benefits?,What If,"[{'id': 10556, 'name': 'male female relationsh...","[{'cast_id': 5, 'character': 'Wallace', 'credi...","[{'credit_id': '52fe4db4c3a368484e1f8003', 'de...",7847000,
28,29,NaN,6000000,"[{'id': 16, 'name': 'Animation'}]",NaN,tt0092106,en,The Transformers: The Movie,The Autobots must stop a colossal planet-consu...,6.759181,...,84.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beyond good. Beyond evil. Beyond your wildest ...,The Transformers: The Movie,"[{'id': 4290, 'name': 'toy'}, {'id': 4375, 'na...","[{'cast_id': 10, 'character': 'Hot Rod/Rodimus...","[{'credit_id': '52fe431bc3a36847f803ab1b', 'de...",5849647,
29,30,NaN,45000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0264472,en,Changing Lanes,A rush-hour fender-bender on New York City's c...,7.818620,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,"[{'id': 242, 'name': 'new york'}, {'id': 4056,...","[{'cast_id': 1, 'character': 'Gavin Banek', 'c...","[{'credit_id': '52fe42fbc3a36847f80317d5', 'de...",94935764,