In [3]:
text = 'hello world'

for i in text:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [2]:
text = 'hello world'

for i in text:
    print(i, end=' ')

h e l l o   w o r l d

In [20]:
for i in 'hello world':
    print(i, end='')

hello world

In [5]:
# text에서 for 문을 이용해서 문자를 대문자로 출력하시오..

for i in text:
    print(i.upper(), end='')

HELLO WORLD

In [7]:
# text에서 for 문을 이용해서 문자를 대문자로 바꿔서 리스트 담으시오

L = []

for i in text:
    L.append(i.upper())
L

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [8]:
# 0~20까지 정수에서 3의 배수만 리스트에 담으세요..

L = []

for i in range(21):
    if i%3 == 0:
        L.append(i)
L

[0, 3, 6, 9, 12, 15, 18]

In [21]:
for i, nam in enumerate(text):
    print(i, nam)

0 c
1 o
2 m
3 p
4 u
5 t
6 a
7 t
8 i
9 o
10 n
11 a
12 l
13
14 t
15 h
16 i
17 n
18 k
19 i
20 n
21 g

In [13]:
# text에서 짝수 인덱스만 리스트에 담으세요..

L= []

for i, nam in enumerate(text):
#     print(i, name)

    if i%2==0:
        L.append(nam)
L

['h', 'l', 'o', 'w', 'r', 'd']

In [27]:
list(range(0, len(text), 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
len(text)

22

In [28]:
for i in range(0,len(text), 2):
    print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [18]:
L= []

for i in range(0, len(text), 2):
    
    L.append(text[i])
L

['h', 'l', 'o', 'w', 'r', 'd']

In [5]:
L= []

for i in [0, 2, 4, 6, 8, 10]:
    
    L.append(text[i])
L

['h', 'l', 'o', 'w', 'r', 'd']

In [19]:
# text에서 모음만 추출해서 리스트에 담으세요..

text = 'computational thinking'
vow = 'aeiou'

L = []

for i in text:
    if i in vow:
        L.append(i)
        
L

['o', 'u', 'a', 'i', 'o', 'a', 'i', 'i']

In [7]:
# words에서 캐릭터수가 4 이상인 단어만 추출

words = ['mountain', 'sea','sky','river','could'\
         ,'tree','lake','country']

for i in words:
    print(len(i))

8
3
3
5
5
4
4
7

In [8]:
for i in words:
    if len(i) > 4:
        print(i, end='   ')

mountain   river   could   country

In [41]:
num1 = ['a','b','c']
num2 = [8,5,4,2]

# 모든 조합을 L이라는 List에 담으시오
# => [('a',8), ('a',5), ('a',4) ... ('c', 4), ('c', 7)]

L = []

for i in num1:
    for j in num2:
        L.append((i, j))
        
L

[('a', 8),
 ('a', 5),
 ('a', 4),
 ('a', 2),
 ('b', 8),
 ('b', 5),
 ('b', 4),
 ('b', 2),
 ('c', 8),
 ('c', 5),
 ('c', 4),
 ('c', 2)]

In [44]:
### List Comprehension 
# => list 안에서 for문을 실행하고, 결과가 list에 담겨서 나온다.

In [46]:
L = []
for i in range(10):
    L.append(i)
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
[ i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
[ (i,j) for i in num1 for j in num2]

[('a', 8),
 ('a', 5),
 ('a', 4),
 ('a', 2),
 ('b', 8),
 ('b', 5),
 ('b', 4),
 ('b', 2),
 ('c', 8),
 ('c', 5),
 ('c', 4),
 ('c', 2)]

In [49]:
L=[]
for i in range(10):
    if i%2 == 0:
        L.append(i)
L

[0, 2, 4, 6, 8]

In [50]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [53]:
# 짝수의 갯수를 구하시오

temp = [1,2,5,4,7,5,6,8,5,4,2,6,5,4,7]

count = 0

for i in temp:
    if i%2 == 0:
        count += 1
count

8

In [54]:
# 짝수의 합..

In [57]:
suma = 0

for i in temp:
    if i%2==0:
#         suma = suma + i
        suma += i
suma

36

In [59]:
# 1 ~ 100까지 합..

suma = 0

for i in range(1,101):
    suma += i
suma

5050

In [60]:
# 1 ~ 100까지의 수에서 짝수의 합과 홀수의 합을 구하시오..

even_sum = 0
odd_sum = 0

for i in range(1,101):
    if i%2==0:
        even_sum += i
    else:
        odd_sum += i
        
print(even_sum, odd_sum)

2550 2500

In [64]:
score.values()

dict_values([5, 3, 8, 4])

In [63]:
# value의 합을 구하시오..

score = {'a':5, 'b':3, 'c':8, 'd':4}

suma=0
for i in score.values():
    suma += i
suma

20

In [68]:
L1 = ['a','b','c','d']
L2 = [1,2,3,4]

# temp1을 key로 하고, temp2를 value로하는 dictionary를 만드시오..
# {'a':1, 'b':2, 'c':3, 'd':4}

d = {}

for i in range(len(L1)):
    d[L1[i]] = L2[i]
    
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [69]:
# for문을 이용해서 구구단을 출력하세요..

In [74]:
for i in range(1,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j, end=' ')
    print()

1 * 1 = 1 1 * 2 = 2 1 * 3 = 3 1 * 4 = 4 1 * 5 = 5 1 * 6 = 6 1 * 7 = 7 1 * 8 = 8 1 * 9 = 9
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [11]:
for i in range(1,10):
    for j in range(1,10):
        print('{}*{}={:>2}'.format(j,i,i*j), end='  ')
    print()

1*1= 1  2*1= 2  3*1= 3  4*1= 4  5*1= 5  6*1= 6  7*1= 7  8*1= 8  9*1= 9
1*2= 2  2*2= 4  3*2= 6  4*2= 8  5*2=10  6*2=12  7*2=14  8*2=16  9*2=18
1*3= 3  2*3= 6  3*3= 9  4*3=12  5*3=15  6*3=18  7*3=21  8*3=24  9*3=27
1*4= 4  2*4= 8  3*4=12  4*4=16  5*4=20  6*4=24  7*4=28  8*4=32  9*4=36
1*5= 5  2*5=10  3*5=15  4*5=20  5*5=25  6*5=30  7*5=35  8*5=40  9*5=45
1*6= 6  2*6=12  3*6=18  4*6=24  5*6=30  6*6=36  7*6=42  8*6=48  9*6=54
1*7= 7  2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49  8*7=56  9*7=63
1*8= 8  2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64  9*8=72
1*9= 9  2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

In [83]:
'''
*
**
***
****
*****
'''

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [86]:
'''
*****
****
***
**
*
'''

for i in range(1,6):
    print('*'*(6-i))

*****
****
***
**
*

In [89]:
# while문으로 1~55까지의 합...

count = 0
suma = 0

while count <= 55:
    suma += count
    count += 1
suma

1540

In [93]:
# while문을 이용.. 점수를 5회 입력받은 후 점수 평균을 계산하도록..

total = 0
count = 1
num = 5 

while count <= num:
    score = int(input('점수를 입력하세요'))
    total += score
    count += 1

print('당신의 평균점수는:',total/num)

점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
점수를 입력하세요5
당신의 평균점수는: 5.0

In [98]:
# while문에서 continue를 사용해서 1~100까지의 수에서 
#  3의 배수의 합..

count = 0
suma = 0

while count <= 99:
    
    count += 1
    
    if count%3 != 0:
        continue
        
    suma += count
    
suma

1683

In [ ]:
# while문에서 continue와 break를 사용해서 1~100까지의 수에서 
#  20보다 크고 70보다 작은 수들의 합..

In [95]:
count = 0
suma = 0

while count <= 100:
    
    count += 1
    
    if count <= 20:
        continue
        
    elif count >= 70:
        break
        
    suma += count
suma

2205