### Tuple

In [1]:
mtuple = ('tuple', (1,2,3), [4,5,6])
mtuple

('tuple', (1, 2, 3), [4, 5, 6])

In [2]:
# 'tupel'을 출력하시오.
# 3을 출력하시오
# 4,5를 출력하시오.
# 4를 출력하시오.
# (1,2,3)을 출력하시오

In [3]:
mtuple[0]

'tuple'

In [5]:
mtuple[1][2]

3

In [7]:
mtuple[2][:2]

[4, 5]

In [9]:
mtuple[2][0]

4

In [10]:
mtuple[1]

(1, 2, 3)

In [11]:
mtuple = (1,2,3,3,2,1)
ytuple = (4,5,6)

# mtuple과 ytuple을 연결하세요..
# mtuple을 3번 반복하세요..
# mtuple에 3이 있는지 확인하세요..
# mtuple에 3이 몇 개 있는지 확인하세요..
# ytuple에서 6의 index값을 출력하세요..
# mtuple에서 index 2의 값을 '5'로 수정하세요.

In [12]:
mtuple + ytuple

(1, 2, 3, 3, 2, 1, 4, 5, 6)

In [13]:
mtuple * 3

(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)

In [14]:
3 in mtuple

True

In [15]:
mtuple.count(3)

2

In [16]:
mtuple.index(3)

2

In [17]:
mtuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [19]:
t = (5,4,7,4,2,3,5)

# t의 길이를 리턴하세요..
# t의 최대값을 출력하세요.
# t의 최소값을 출력하세요.
# t의 합을 출력하세요.
# t를 오름차순 정렬하세요..
# t 평균을 출력하세요.

In [20]:
len(t)

7

In [21]:
max(t)

7

In [22]:
min(t)

2

In [23]:
sum(t)

30

In [24]:
sorted(t)

[2, 3, 4, 4, 5, 5, 7]

In [26]:
import numpy 
numpy.mean(t)

4.285714285714286

### Set

In [27]:
my_set = set()

In [28]:
# 'sky'를 추가하세요.
# 'sea'를 추가하세요
# (1,2)를 추가하세요
# my_set의 길이를 리턴하세요
# 'sea'가 포함되어 있는지 확인하세요..
# my_list = [1,2,2,2,3]인 my_list를 set으로 타입을 변경하세요..

In [29]:
my_set.add('sky')
my_set.add('sea')
my_set.add((1,2))
print(my_set)

{(1, 2), 'sea', 'sky'}

In [33]:
my_list = [1,2,2,2,3]

print(len(my_set))
print('sea' in my_set)
my_list = set(my_list)
print(my_list)

3
True
{1, 2, 3}

In [31]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}

# 합집합을 구하세요..
# 교집합을 구하세요..
# A의  B에 대한 차집합을 구하세요.
# 대칭차집합을 구하세요..

In [34]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
A.intersection(B)

{1, 2, 3}

In [36]:
A.difference(B)

{4, 5, 6}

In [39]:
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

### Dictionary

In [40]:
name = {'mary':1099, 'sams':2111, 'amy':9788, 'tom':2024, 'bob':5877}
name

{'mary': 1099, 'sams': 2111, 'amy': 9788, 'tom': 2024, 'bob': 5877}

In [41]:
# mary의 값을 출력하세요
# key는 'kelly', value는 '7788'인 새로운 요소를 추가하세요.
# 'tom'의 value를 2000으로 수정하세요.
# key에 'sams'가 포함되어 있는 지 확인하세요.
# valule에 9788이 포함되어 있는지 확인하세요.
# 모든 key값을 리스트로 출력하세요.
# 모든 value를 리스트로 출력하세요.
# 모든 원소를 (key, value) 튜플로 출력하세요..

In [42]:
name['mary']

1099

In [44]:
name['kelly'] = 7788
name

{'mary': 1099,
 'sams': 2111,
 'amy': 9788,
 'tom': 2024,
 'bob': 5877,
 'kelly': 7788}

In [45]:
name['tom'] = 2000

In [47]:
'sams' in name

True

In [49]:
9788 in name.values()

True

In [50]:
name.keys()

dict_keys(['mary', 'sams', 'amy', 'tom', 'bob', 'kelly'])

In [51]:
name.values()

dict_values([1099, 2111, 9788, 2000, 5877, 7788])

In [52]:
name.items()

dict_items([('mary', 1099), ('sams', 2111), ('amy', 9788), ('tom', 2000), ('bob', 5877), ('kelly', 7788)])

In [ ]:
# so11 = ['태양','수성','금성','지구']
# sol2 = ['Sun','Mercury','Venus','Earth']

In [54]:
# name dict에서 이름을 입력받은 후, 이름이 name dict에 있으면 값을
# 출력하고, 없으면 받은 이름과 값은 1000으로 해서 name dict에 요소로
# 추가

In [56]:
nam = input('이름을 입력하세요:')
name.setdefault(nam, 1000)

이름을 입력하세요:yuna

1000

In [57]:
name

{'mary': 1099,
 'sams': 2111,
 'amy': 9788,
 'tom': 2000,
 'bob': 5877,
 'kelly': 7788,
 'yuna': 1000}