In [2]:
print('hello python')

hello python

In [3]:
print("hello world")

hello world

In [4]:
a = 10
b = 3.5
c = 'python'

In [5]:
print(a,b,c)

10 3.5 python

In [6]:
type(a)

int

In [7]:
type(b)

float

In [8]:
type(c)

str

In [9]:
num = 2134

In [10]:
python_score = 45

In [11]:
python-score = 45

SyntaxError: can't assign to operator (<ipython-input-11-5aaf5001053d>, line 1)

In [12]:
math1 = 90

In [13]:
1math = 90

SyntaxError: invalid syntax (<ipython-input-13-82e8e50435eb>, line 1)

In [14]:
e = 'python'
type(e)

str

In [15]:
f = [1,2,3,4,5]
type(f)

list

In [16]:
g = (4,5,7,8)
type(g)

tuple

In [17]:
h = {1,2,4,5,7}
type(h)

set

In [18]:
i = {3:5, 5:79, 7:35}
type(i)

dict

In [19]:
a = 5.6
b = int(a)
type(b)

int

In [20]:
a = '235'
b = int(a)
type(b)

int

In [22]:
round(2.5)

2

In [23]:
round(2.6)

3

In [25]:
import math
math.ceil(1.2)

2

In [26]:
math.floor(2.5)

2

In [27]:
'''
python
주석 연습
'''

a = 10
b = 20
suma = a+b
print(suma) # suma의 값을 출력..

30

In [29]:
print("hello 'world'")

hello 'world'

### String

In [30]:
text = 'python programming'

In [31]:
print(text)

python programming

In [32]:
text[1]

'y'

In [33]:
text[3]

'h'

In [34]:
text[-3]

'i'

In [35]:
text[0:6]

'python'

In [36]:
text

'python programming'

In [37]:
text[:]

'python programming'

In [38]:
text[:6]

'python'

In [39]:
text[7:]

'programming'

In [40]:
text[-3:]

'ing'

In [41]:
text[0:15:2]

'pto rgam'

In [42]:
s = 'name :철수, email: chul@naver.com'

In [43]:
print(s)

name :철수, email: chul@naver.com

In [44]:
s= 'name : {}, email : {}'

In [46]:
text = s.format('연아','yuna@naver.com')
print(text)

name : 연아, email : yuna@naver.com

In [47]:
state = 'mississippi'

In [48]:
state.count('s')

4

In [49]:
state.find('m')

0

In [50]:
a = 'hello'
b = 'world'

In [51]:
a + b

'helloworld'

In [52]:
a *2

'hellohello'

In [53]:
text = 'python programming'

In [54]:
'p' in text

True

In [55]:
's' in text

False

In [56]:
len(text)

18

In [57]:
text.upper()

'PYTHON PROGRAMMING'

In [58]:
text.lower()

'python programming'

In [59]:
text.title()

'Python Programming'

In [60]:
text

'python programming'

In [61]:
text.split()

['python', 'programming']

In [62]:
email= 'yuna@naver.com'
email.split('@')[1]

'naver.com'

In [65]:
day  = '2020-01-08'
month = day.split('-')[1]
print(type(month))
print(month)

<class 'str'>
01

### List

In [67]:
score=[80,20,24,51,85,65,54]
score

[80, 20, 24, 51, 85, 65, 54]

In [68]:
score[1]

20

In [69]:
score[3]

51

In [70]:
score[-2]

65

In [71]:
score[1:4]

[20, 24, 51]

In [72]:
score[:3]

[80, 20, 24]

In [73]:
score[-2:]

[65, 54]

In [75]:
score[:]

[80, 20, 24, 51, 85, 65, 54]

In [76]:
len(score)

7

In [77]:
score[1:7:2]

[20, 51, 65]

In [78]:
score[0:7:2]

[80, 24, 85, 54]

In [79]:
sum(score)

379

In [80]:
max(score)

85

In [81]:
min(score)

20

In [84]:
import numpy 
numpy.mean(score)

54.142857142857146

In [85]:
# 맨 뒤에 55를 추가하시오.
score.append(55)
score

[80, 20, 24, 51, 85, 65, 54, 55]

In [86]:
# 1번  인덱스자리에 100을 입력
score.insert(1, 100)
score

[80, 100, 20, 24, 51, 85, 65, 54, 55]

In [87]:
score.count(55)

1

In [88]:
score.index(20)

2

In [89]:
# 55를 삭제

score.remove(55)
score

[80, 100, 20, 24, 51, 85, 65, 54]

In [90]:
# 1번 인덱스 값을 삭제..

score.pop(1)
score

[80, 20, 24, 51, 85, 65, 54]

In [91]:
sorted(score)

[20, 24, 51, 54, 65, 80, 85]

In [92]:
score

[80, 20, 24, 51, 85, 65, 54]

In [93]:
score.sort()

In [94]:
score

[20, 24, 51, 54, 65, 80, 85]

In [95]:
score.clear()
score

[]

In [96]:
del score

In [97]:
score

NameError: name 'score' is not defined

In [99]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
print(list(range(2,101,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [110]:
a = [1,2,4,5]
b = [5,6,7,8]

In [111]:
c = a + b
c

[1, 2, 4, 5, 5, 6, 7, 8]

In [112]:
a.extend(b)

In [113]:
a

[1, 2, 4, 5, 5, 6, 7, 8]

In [115]:
count = 0
while True:
    count += 1

KeyboardInterrupt:

### Tuple

In [2]:
T = (1,2,4,5,6,7,8,9,2,4,5,7,8,9,5,4,2,4)

In [3]:
T.count(5)

3

In [5]:
T.index(5)

3

In [6]:
7 in T

True

In [7]:
T[1]

2

In [8]:
T[-3]

4

In [9]:
T[2:5]

(4, 5, 6)

In [10]:
T[-2:]

(2, 4)

In [11]:
T[1] = 100

TypeError: 'tuple' object does not support item assignment

### Set
* 중복값을 갖지 않는다
* 순서가 없다

In [12]:
s = {1,2,5,7,5, 7}
s

{1, 2, 5, 7}

In [13]:
s.discard(2)
s

{1, 5, 7}

In [14]:
s.add(3)
s

{1, 3, 5, 7}

In [15]:
s.pop()

1

In [16]:
s

{3, 5, 7}

### Dictionary

In [20]:
d = {'one':1, 'two':2, 'three':3}
d

{'one': 1, 'two': 2, 'three': 3}

In [21]:
d['one']

1

In [22]:
d['four'] = 4
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [23]:
d['three'] = 5
d

{'one': 1, 'two': 2, 'three': 5, 'four': 4}

In [24]:
d

{'one': 1, 'two': 2, 'three': 5, 'four': 4}

In [25]:
d['two']

2

In [26]:
d['six']

KeyError: 'six'

In [28]:
d.get('six', 5)

5

In [29]:
d

{'one': 1, 'two': 2, 'three': 5, 'four': 4}

In [30]:
d['three']

5

In [37]:
list(d.items())[2][1]

5

In [35]:
for i in d.items():
    print(i)

('one', 1)
('two', 2)
('three', 5)
('four', 4)

In [38]:
d.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [42]:
list(d.values())[2]

5

In [43]:
d['one']

1

In [44]:
d.get('one')

1

In [45]:
d.setdefault('one')

1

In [46]:
d['six']

KeyError: 'six'

In [47]:
d.get('six')

In [49]:
d.setdefault('six', 6)

6

In [51]:
d

{'one': 1, 'two': 2, 'three': 5, 'four': 4, 'six': 6}

In [52]:
d['two'] = 20

In [54]:
d

{'one': 1, 'two': 20, 'three': 5, 'four': 4, 'six': 6}

In [55]:
d.pop('six')
d

{'one': 1, 'two': 20, 'three': 5, 'four': 4}

In [56]:
len(d)

4

In [57]:
d.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [58]:
d.values()

dict_values([1, 20, 5, 4])

In [59]:
d.items()

dict_items([('one', 1), ('two', 20), ('three', 5), ('four', 4)])

In [60]:
g = {'ten':10}

In [61]:
d.update(g)
d

{'one': 1, 'two': 20, 'three': 5, 'four': 4, 'ten': 10}

In [62]:
'three' in d

True

In [63]:
10 in d

False