1. int - 정수
2. float - 실수
3. bool - True, False
----------------------------------------------------------
#### 군집형 데이터 타입
4. string - ' ',   원소의 수정 삭제 추가가 안 됨.
5. List - [], 원소의 수정 삭제 추가가 자유로움.
6. Tuple - (), 원소의 수정 삭제 추가가 안 됨.
7. Set - {}, 중복데이터 제외, 인덱스가 없음
8. Dictionary - {key:val}, 키가 인덱스 역활함.

### String

In [1]:
text = '이 또한 지나가리라'

In [2]:
# '또한' 이라는 어절을 추출
text[2:4]

'또한'

In [3]:
# ' 가리라'
text[-3:]

'가리라'

In [6]:
num = input('정수를 입력하세요')
print('당신이 입력한 정수는' ,num, '입니다')

정수를 입력하세요100
당신이 입력한 정수는 100 입니다

In [7]:
# 이름을 입력받은 후, 출력 : => '안녕하세요, {이름}님!!'

nam = input('이름을 입력하세요:')
print('안녕하세요',nam,'님!!')

이름을 입력하세요:김윤아
안녕하세요 김윤아 님!!

In [8]:
nam = input('이름을 입력하세요:')
print('안녕하세요 {}님!!'.format(nam))

이름을 입력하세요:김윤아
안녕하세요 김윤아님!!

In [ ]:
# 문장을 입력받은 후 문장의 길이를 출력하세요..

In [9]:
text = input('문장을 입력하세요:')
print(len(text))

문장을 입력하세요:hello python
12

In [ ]:
# 이메일을 입력받은 후 아아디를 출력하세요..

In [10]:
email = input('이메일을 입력하세요:')
print(email.split('@')[0])

이메일을 입력하세요:yuna@naver.com
yuna

In [12]:
text = 'A lot of things occur each day, every night'

# 'o'의 갯수를 출력하세요
# 첫 번째 'o'의 인덱스를 출력하세요
# text에 'o'이 있는지 확인하세요..

print(text.count('o'))
print(text.find('o'))
print('o' in text)

3
3
True

### List

In [33]:
ls = [1,2,'a','b','c',[4,5,6],'가','나']
ls

[1, 2, 'a', 'b', 'c', [4, 5, 6], '가', '나']

In [26]:
# 2를 출력
# 'b'를 출력
# 5를 출력
# 5,6을 출력
# 맨 마지막 두 원소 출력
# 홀수 자리 인덱스 원소 출력

print(ls[1])
print(ls[3])
print(ls[5][1])
print(ls[5][1:])
print(ls[-2:])
print(ls[1:8:2])

2
b
5
[5, 6]
['가', '나']
[2, 'b', [4, 5, 6], '나']

In [27]:
ls

[1, 2, 'a', 'b', 'c', [4, 5, 6], '가', '나']

In [ ]:
# ls의 길이를 출력
# ls의 1번 인덱스 값을 10으로 수정
# ls의 3번 인덱스를 삭제
# '라'를 마지막에 추가
# 1번 인덱스에 100을 삽입
# 값 100을 삭제

In [34]:
print(len(ls))

8

In [35]:
ls[1] = 10
print(ls)

[1, 10, 'a', 'b', 'c', [4, 5, 6], '가', '나']

In [36]:
ls.append('라')
print(ls)

[1, 10, 'a', 'b', 'c', [4, 5, 6], '가', '나', '라']

In [37]:
ls.insert(1, 100)
print(ls)

[1, 100, 10, 'a', 'b', 'c', [4, 5, 6], '가', '나', '라']

In [38]:
ls.pop(3)
print(ls)

[1, 100, 10, 'b', 'c', [4, 5, 6], '가', '나', '라']

In [39]:
ls.remove(100)
print(ls)

[1, 10, 'b', 'c', [4, 5, 6], '가', '나', '라']

In [40]:
### list 종합문제

In [41]:
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천왕성','해왕성']

In [ ]:
# 1. sol에서 '수성','금성','지구'를 출력하세요.

In [ ]:
# 2. sol에서 '지구' 인덱스를 출력하세요..

In [ ]:
# 3. sol에서 '화성'을 '해왕성'으로 수정하세요.

In [ ]:
# 4. sol에서 '수성' 자리에 '명왕성'을 삽입하세요.

In [ ]:
# 5. sol에서 맨 끝에 '토성'을 추가하세요.

In [ ]:
# 6. sol에서 3번 인덱스를 삭제하세요.

In [ ]:
# 7. sol에서 '금성'을 삭제하세요.

In [ ]:
# 8. sol에서 오름차순 정렬하세요.

In [ ]:
# 9. sol에서 '만리장성'이 있는지 확인하세요.
# 10. sol의 길이를 리턴하세요.
# 11. sol과 sol1을 연결하세요.
# 12. sol 뒤에 sol1을 붙이세요.
# 13. sol의 모든 요소를 삭제하세요.
# 14. sol 리스트를 삭제하세요..