In [1]:
# import
import pandas as pd
import numpy as np

import datetime 
from datetime import datetime, date

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.DataFrame({'a':['f', 20, 'seoul'], 'b':['m', 23, 'seoul'], 'c':['m', 22, 'incheon']}, index=['gen', 'age', 'addr'])
df

          a      b        c
gen       f      m        m
age      20     23       22
addr  seoul  seoul  incheon

In [10]:
df.T

  gen age     addr
a   f  20    seoul
b   m  23    seoul
c   m  22  incheon

In [18]:
dfb1 = pd.DataFrame({'a':[True, True, False], 'b':[True, False, True], 'c':[False, False, True]})
dfb2 = pd.DataFrame({'a':[True, True, True], 'b':[False, False, True], 'c':[False, False, False]})
dfb1 & dfb2

       a      b      c
0   True  False  False
1   True  False  False
2  False   True  False