In [1]:
print('hello python')

hello python

In [2]:
print("hello world")

hello world

In [4]:
a = 10
b = 3.5
c = 'python'

In [5]:
print(a,b,c)

10 3.5 python

In [8]:
type(a)

int

In [9]:
type(b)

float

In [10]:
type(c)

str

In [11]:
num = 2134
python_score = 45

In [12]:
python-score = 45#error

SyntaxError: can't assign to operator (<ipython-input-12-5aaf5001053d>, line 1)

In [13]:
math1 = 90

In [14]:
1math = 90 #error

SyntaxError: invalid syntax (<ipython-input-14-806ac5e0f70d>, line 1)

In [15]:
e = 'python'
type(e)

str

In [17]:
f = [1,2,3,4,5]
type(f)

list

In [18]:
g = (4,5,6,7)
type(g)

tuple

In [19]:
h = {1,2,3}
type(h)

set

In [20]:
i = {3:5, 5:79, 7:35}
type(i)

dict

In [22]:
a = 5.6
b = int(a)
type(b)

int

In [23]:
a = '235'
b = int(a)
type(b)

int

In [24]:
round(2.5)

2

In [25]:
round(2.6)

3

In [26]:
import math
math.ceil(1.2)

2

In [28]:
math.floor(2.5)

2

In [29]:
#ㅋㅋㅋ

In [33]:
'''
python주석
'''

a= 10
b = 20
print(a+b)

30

In [34]:
'''
zzz
'''

'\nzzz\n'

In [37]:
"""
zzz
dkdkdk
"""

a= 3

In [38]:
a = """zkzkz"""
print(a)

zkzkz

In [39]:
print("hi"*5)

hihihihihi

In [44]:
a = [0,1,2,3,4,5,6,7,8]
print(a[0::2])

[0, 2, 4, 6, 8]

In [45]:
'abcd'.upper()

'ABCD'

In [46]:
'abcd'.title()

'Abcd'

### String

In [51]:
text = 'python programming'

In [52]:
print(text)

python programming

In [53]:
text[1]

'y'

In [54]:
text[3]

'h'

In [55]:
text[-3]

'i'

In [56]:
text[0:6]

'python'

In [57]:
text[:]

'python programming'

In [58]:
text[::2]

'pto rgamn'

In [59]:
text[:6]

'python'

In [60]:
text[7:]

'programming'

In [61]:
text[-3:]

'ing'

In [62]:
text[0:15:2]

'pto rgam'

In [65]:
s = 'name: {}, email: {}'

In [66]:
print(s)

name: {}, email: {}

In [67]:
text = s.format('민수', 'minsu@naver.com')
print(text)

name: 민수, email: minsu@naver.com

In [68]:
state = 'mississippi'

In [69]:
state.count('s')

4

In [70]:
state.find('m')

0

In [71]:
a = 'hello'
b = 'world'
a+b

'helloworld'

In [72]:
a * 2

'hellohello'

In [73]:
text = 'python progamming'
'p' in text

True

In [74]:
len(text)

17

In [75]:
text.upper()

'PYTHON PROGAMMING'

In [76]:
text

'python progamming'

In [77]:
text.title()

'Python Progamming'

In [79]:
text.split(' ')

['python', 'progamming']

In [80]:
email = 'yuna@naver.com'
email.split('@')[1]

'naver.com'

In [82]:
day = '2020-01-08'
month = day.split('-')[1]
print(month)

01

In [84]:
day.split('-')[1]

'01'