# Tuple

mtuple = ('tuple', (1,2,3), [4,5,6])
mtuple

In [4]:
#tuple를 출력하세오
print(mtuple[0])
#3을 출력하시오
print(mtuple[1][-1])
#4,5를 출력하시오
print(mtuple[2][:2])
#4를 출력하시오
print(mtuple[2][0])
#(1,2,3)을 출력하시오
print(mtuple[1])

tuple
3
[4, 5]
4
(1, 2, 3)

In [8]:
mtuple = (1,2,3,3,2,1)
ytuple = (4,5,6)
#mtuple과 ytuple을 연결하세요
print(mtuple + ytuple)
#mtuple를 3반복하세요
print(mtuple*3)
#mtuple에 3이 있는 지 확인하기
print(3 in mtuple)
#mtuple에 3이 몇 개 있는지 확인하기
print(mtuple.count(3))
#ytuple에 6의 인덱스 확인하기
print(ytuple.index(6))
#mtuple에서 index 2의 값을 '5'로 수정하기
#안됨

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)
True
2
2

In [14]:
t = (5,4,7,4,2,3,5)
#t의 길이를 리턴하세요
print(len(t))
#t의 최대값을 출력하세요
print(max(t))
#t의 최솟값을 출력하세요
print(min(t))
#t의 합을 출력하세요
print(sum(t))
#t를 오름차순으로 정렬하세요
print(sorted(t))
#t 평균을 출력하세요
import numpy
print(numpy.mean(t))

7
7
2
30
[2, 3, 4, 4, 5, 5, 7]
4.285714285714286

# Set

In [15]:
my_set = set()
#'sky'를 추가하세요
my_set.add('sky')
print(my_set)
#'sea'를 추가하세요
my_set.add('sea')
print(my_set)
#(1,2)를 추가하세요
my_set.add((1,2))
print(my_set)
#my_set의 길이를 리턴하세요
print(len(my_set))
#'sea'가 포함되어 있는 지 확인하세요
print('sea' in my_set)
#my_list=[1,2,2,2,3]인 my_list를 set으로 타입변경하세요
my_list=[1,2,2,2,3]
print(set(my_list))

{'sky'}
{'sky', 'sea'}
{'sky', 'sea', (1, 2)}
3
True
{1, 2, 3}

In [25]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
#합집합을 구하세요
print(A.union(B))
#교집합을 구하세요
print(A.intersection(B))
#A의 B에 대한 차집합을 구하세요
print(A.difference(B))
#대칭차집합을 구하세요
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}

# Dictionary

In [31]:
name = {'mary':1089, 'sams':2111, 'amy': 9788, 'tom':2024, 'bob':5877}
#'mary'의 값을 출력하기
print(name['mary'])
#key는 'kelly', value는 7788인 새 요소를 추가하기
name['kelly'] = 7788
print(name)
#'tom'의 value를 2000으로 수정하기
name['tom'] = 2000
print(name)
#key에 'sams'가 포함되어 있는지 확인하기
print('sams' in name)
#value에 9788이 포함되어있는지 확인하기
print(9788 in name.values())
#모든 key값을 리스트로 출력하기
print(list(name.keys()))
#모든 value를 리스트로 출력하기
print(list(name.values()))
#모든 원소를 (key, value)튜플로 출력하기
print(name.items())

1089
{'mary': 1089, 'sams': 2111, 'amy': 9788, 'tom': 2024, 'bob': 5877, 'kelly': 7788}
{'mary': 1089, 'sams': 2111, 'amy': 9788, 'tom': 2000, 'bob': 5877, 'kelly': 7788}
True
True
['mary', 'sams', 'amy', 'tom', 'bob', 'kelly']
[1089, 2111, 9788, 2000, 5877, 7788]
dict_items([('mary', 1089), ('sams', 2111), ('amy', 9788), ('tom', 2000), ('bob', 5877), ('kelly', 7788)])

In [32]:
#sol1 = ['태양', '수성', '금성', '지구' ]
#sol2 = ['Sun', 'Mercury', 'Venus', 'Earth']

In [40]:
#name dict에서 이름을 입력받은 후 이름이 name dict에 있으면 값을 출력하고 없으면 받은 이름과 값은 1000으로 해서
#삽입하는 코드를 작성하기

n = input('이름을 입력하세요')
name.setdefault(n, 1000)

이름을 입력하세요kws

1000

In [39]:
name

{'mary': 1089,
 'sams': 2111,
 'amy': 9788,
 'tom': 2000,
 'bob': 5877,
 'kelly': 7788,
 'kws': 1000}