In [1]:
# corr()
# srt.contains()
# value_counts()
# sort_values()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

,영화명,개봉일,영화유형,국적,스크린수,매출액,관객수,장르,등급
1,명량,2014-07-30,개봉영화,한국,"1,587","135,748,398,910","17,613,682",사극,15세이상관람가
2,극한직업,2019-01-23,개봉영화,한국,"1,978","139,647,979,516","16,264,944",코미디,15세이상관람가
3,신과함께-죄와 벌,2017-12-20,개봉영화,한국,"1,912","115,698,654,137","14,410,754",판타지,12세이상관람가
4,국제시장,2014-12-17,개봉영화,한국,966,"110,828,014,630","14,245,998",드라마,12세이상관람가
5,어벤져스: 엔드게임,2019-04-24,개봉영화,미국,"2,835","122,182,694,160","13,934,592",액션,12세이상관람가

In [32]:
# From kobis.or.kr
#CSV파일 건너뛰어 읽기
df = pd.read_csv('./ad/KOBIS_개봉일람_2019-10-26.csv',skiprows=5)
df.rename(columns={'전국':'스크린수', '전국.1':'매출액', '전국.2':'관객수','서울':'서울매출액', '서울.1':'서울관객수'}, inplace=True)
df.drop(0, inplace=True)
df.drop(['순번', '제작사', '수입사', '배급사', '서울매출액', '서울관객수', '감독', '영화구분', '영화형태'], axis=1, inplace=True)
# null확인
print(df.isnull().sum(axis=0))
#  null 0으로 채우기
df.fillna('0', inplace=True)
# 숫자 데이터 정수형으로
df['스크린수'] = df.스크린수.apply(lambda x: int(x.replace(',','')))
df['매출액'] = df.매출액.apply(lambda x: int(x.replace(',','')))
df['관객수'] = df.관객수.apply(lambda x: int(x.replace(',','')))
df.info()

영화명       0
개봉일      18
영화유형      0
국적        9
스크린수      0
매출액     227
관객수       0
장르      101
등급       50
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19704 entries, 1 to 19704
Data columns (total 9 columns):
영화명     19704 non-null object
개봉일     19704 non-null object
영화유형    19704 non-null object
국적      19704 non-null object
스크린수    19704 non-null int64
매출액     19704 non-null int64
관객수     19704 non-null int64
장르      19704 non-null object
등급      19704 non-null object
dtypes: int64(3), object(6)
memory usage: 1.5+ MB

In [33]:
# 국가별 매출액합 상위 5개국
df.groupby('국적').sum('매출액')

TypeError: f() takes 1 positional argument but 2 were given