In [1]:
import numpy as np
import pandas as pd

In [2]:
#pandas apply
df = pd.DataFrame(np.arange(30).reshape(5,6))
df['6'] = [1,3,2,3,1]
df['6'].apply(lambda x: x**2)

0    1
1    9
2    4
3    9
4    1
Name: 6, dtype: int64

In [3]:
#pandas map
df['6']=df['6'].map({1:'a_a', 2:'b_b', 3:'C_C'})

In [4]:
# pandas str.contains, str.upper(),str.lower() 등등
df['6'].str.contains('a')
df['6'].str.upper()
df['6'].str.lower()
df['6'].str.split('_')
df['6'].str.replace('a', 'x')

0    x_x
1    C_C
2    b_b
3    C_C
4    x_x
Name: 6, dtype: object

In [5]:
# pandas isin([])
df['6'].isin(['a_a', 'C_C'])

0     True
1     True
2    False
3     True
4     True
Name: 6, dtype: bool

In [6]:
# pandas replace
df['6'].replace('C_C', 'c_c')

0    a_a
1    c_c
2    b_b
3    c_c
4    a_a
Name: 6, dtype: object

In [7]:
# python의 map함수
temp = lambda x: x**2
list(map(temp, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]